



.msgValid{
	color:#F00;
}

.input-group-addon.old-icon {
  width: 10px;
}

.form-control.deposite {
  width: 475px;
}

.logo img {

  width: 81%;

}

.main-sidebar {

  background: #000000 none repeat scroll 0 0 !important;

}

.logo img {

  width: 164px;

   padding: 3px;

}

.logo-mini img {

  width: 48px;

   padding: 3px;

}

.skin-blue .treeview-menu > li > a {

  color: #8aa4af;

  padding: 10px !important;

}

.small-box.bg-yellow {

  background: #ec6f1d none repeat scroll 0 0 !important;

}

.btn.btn-warning.totalmember {

  margin-right: 34px;

}

.btn.btn-warning {

  background: #ec6f1d none repeat scroll 0 0;

}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {

  border-color: #248ad0;

  color: #ffffff;

  cursor: default;

  z-index: 2;

  background: #247ab5;

}

.btn-warning:hover, .btn-warning:active, .btn-warning.hover {

  background-color: #ff8432 !important;

}

.dropdown.user.user-menu.open .dropdown-menu {

  min-width: 100px;

  width:100px;

}

.reveal-modal .close-reveal-modal {

  height: 25px !important;

  width: 25px !important;

}

.panel-heading a i {
  color: #ec6f1d;
}

.form-control:focus {
  border-color: #ec6f1d !important;
  box-shadow: none;
}



/*=======================================Model Css start Here=================================================*/



.reveal-modal {

  background: #fafafa none repeat scroll 0 0;

  border: 3px solid #0167c0;

  border-radius: 7px;

  left: 10%;

  min-height: auto;

  padding: 10px;

  position: fixed !important;

  top: 119px !important;

  visibility: hidden;

  width: 80%;

  z-index: 1000;

}
.btn.btn-primary {
  background: #ec6f1d none repeat scroll 0 0 !important;
  border: 1px solid #ec6f1d;
}

/*=======================================Model Css End Here=================================================*/

@media only screen and (max-width: 1024px){

	.divoverflow {

  overflow-x: auto !important;

}



}

@media only screen and (max-width: 767px){



.btn.btn-warning.totalmember {

  float: left !important;

  margin-right:0px;

}

.box-title {

  width: 100%;

  padding-bottom:20px;

}

.divoverflow {

  overflow-x: auto;
  margin-bottom:25px;

}

.reveal-modal{
	
position:absolute !important;

}
.dropdown.user.user-menu {
  padding-right: 7px !important;
}

}
.main-sidebar {
  /*top: 59px !important;*/
  padding-left:15px;
  padding-right:8px;
  padding-top:0px !important;
}
.content-wrapper, .right-side {
  background-color: #ededed !important;
}
body{
	background:#edede !important;
}
.sidebar {
 /* background: #fff none repeat scroll 0 0;
  border-radius: 8px !important;
  box-shadow: 0 0 4px #afafaf !important;*/
  padding: 11px 8px;
}
.panel.panel-default {
  box-shadow: 0 0 4px #afafaf !important;
}
.treeview-menu{
	/*display:block !important;*/
}
body {
  background: #ededed none repeat scroll 0 0 !important;
}
.sorting{
	background:#d8d8d8 !important;
	border:none !important;
}
.sorting_asc{
	background:#d8d8d8 !important;
	border:none !important;	
}
table.table.dataTable td{
	border:none !important;		
}
.dropdown.user.user-menu {
  padding-right: 53px;
}
h3.box-title {
  color: #36465d;
  font-size: 17px !important;
  font-weight: 600;
 /* text-transform: uppercase;*/
}
.box-body {
  padding-top: 0;
}
.table.table-striped thead th{
	background:#d8d8d8;
	border:none;
}
.table.table-striped tbody td{
	border:none;
}
.form-control {
  border-radius: 5px !important;
}
.oneline{
    margin-bottom: 10px !important;
    float: left;
    width: 100%;
}
.oneline label {
  font-weight: 500 !important;
  padding-top: 5px !important;
}
.btn.btn-primary.butoon_brow {
  background: #247ab5 none repeat scroll 0 0 !important;
  border: 1px solid #247ab5 !important;
  border-radius: 5px;
  /*width: 50% !important;*/
}
legend {
  background: #3e7bd6 none repeat scroll 0 0;
  color: #fff;
  font-size: 16px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-top: 5px;
  text-align: center;
}
.btn.btn-primary.bulu {
  background: #247ab5 none repeat scroll 0 0 !important;
  border:#247ab5 !important;
}
.btn.btn-primary.redu {
  background: #932727 none repeat scroll 0 0 !important;
  border:#932727 !important;
}
.deleteimage {
  position: absolute;
  right: -4px;
  top: -5px;
  width: 16px;
}
.img_crs {
  float: left;
  height: 57px;
  margin-left: 8px;
  position: relative;
  width: 71px;
  margin-bottom:5px !important;
}
.img_crs a img {
  height: 100%;
  width: 100%;
}
.add-box, .remove-box {
    display: inline-block;
    position: absolute;
    right: -29px;
    top: 20px;
}
p.text-box {
  position: relative;
}
.add-box, .remove-box i {
  font-size: 28px;
}
/* for Center Heading */
.head-center{
	text-align:center;
}
.carb-heading {
    font-size: 32px !important;
    font-weight: bold;
    line-height: 1px;
}

.divoverflow {
  overflow-x: auto;
}
.pt_level{
	float:left;
	position:relative;
	top:5px;
	font-weight:bold;
}
p.text-box {
  position: relative;
}
.add-box.abpart {
  display: inline-block;
  position: absolute;
  right: -58px;
}

.my-form.bg {
  background: #ededed none repeat scroll 0 0 !important;
  float: left;
  width: 100%;
  margin-bottom:15px;
  clear:both;
}
textarea.supplier_height {
  height: 108px;
}
.show_parts_img {
  border: 1px solid #eee;
  float: left;
  padding: 5px;
  width: 100%;
  text-align:center;
  margin-bottom:20px;
  position:relative
}
.show_parts_img img {
  width: 100% !important;
}
.show_parts_img:hover {
  /*box-shadow: 0 5px 12px #929292;*/
}
.show_parts_img:hover .overlay {
  background: #000 none repeat scroll 0 0;
  bottom: 5px;

  left: 5px;
  opacity: 0.7;
  position: absolute;
  right: 5px;
  top: 5px;
}.tabcontent {
  float: left !important;
}
.long_button{
	white-space:normal !important;
}


/*.button_center img {
	right: 0 !important;
	top:auto !important;
}*/
.form_bg {
	background: none;
}
.background_layer {
	background-color: #0554ca;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .77;
}
/*.treeview:hover {
	background-color: rgba(255, 255, 255, 0.13);
	opacity: 1;
}*/

/*****************************Start For Alert Message*********************/
.alert h4 {
	margin: 0px !important;	
}
/*****************************End For Alert Message*********************/

/*****************************Start For Responsive Table Width*********************/

/*.width_srno.sorting_asc {
	width: 25px !important; 
}
.width_srno.sorting_desc {
	width: 25px !important; 
}


.width_normal.sorting_asc {
	width: 50px !important; 
}
.width_normal.sorting_desc {
	width: 50px !important; 
}*/

.row {
	margin-right:0 !important;
}
.center_text {
	margin-top:5%;
}

/*****************************End For Responsive Table Width*********************/